<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Uid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-uid" class="form-control form-control" name="row[uid]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Real_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-real_name" class="form-control form-control" name="row[real_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sfznumber')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sfznumber" class="form-control form-control" name="row[sfznumber]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Home_addr')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-home_addr" class="form-control form-control" name="row[home_addr]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sex')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sex" class="form-control form-control" name="row[sex]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Minzu')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-minzu" class="form-control form-control" name="row[minzu]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Job')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-job" class="form-control form-control" name="row[job]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Wages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-wages" class="form-control form-control" name="row[wages]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Yinghangka')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-yinghangka" class="form-control form-control" name="row[yinghangka]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Yinghangname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-yinghangname" class="form-control form-control" name="row[yinghangname]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Yinhangkatype')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-yinhangkatype" class="form-control form-control" name="row[yinhangkatype]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Yinghang_phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-yinghang_phone" class="form-control form-control" name="row[yinghang_phone]" type="text">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
